.modal-search {
    background: none !important;
    border: none;
}

.form-group {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

#search_value {
    width: 40vw;
    font-size: 1.4rem;
    background: none;
    outline: none !important;
    box-shadow: none;
    border: none;
    color: #333;
}

#btn_search {
    height: 100%;
    padding: 10px;
    font-size: 1.4rem;
    cursor: pointer;
    outline: none !important;
    background-color: rgb(144, 144, 144, 0);
}

#result_search {
    background-color: #fff;
    min-width: 20vh;
    overflow-y: auto;
    width: 100%;
    position: relative;
    top: -15px;
    padding: 20px;
    border-radius: 8px;
    display: none;
    -webkit-animation: fadeInUp 400ms;
    -moz-animation: fadeInUp 400ms;
    -ms-animation: fadeInUp 400ms;
    -o-animation: fadeInUp 400ms;
    animation: fadeInUp 400ms;
}

.result_search-item {
    display: flex;
    align-items: center;
}

.result-search-link div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
    border: 1px solid;
    width: 100%;
}

.result-search-img {
    width: 50px;
    height: 50px;
}