@font-face {
  src: url('../font/Signika/static/Signika-Regular.ttf');
  font-family: "Signika";
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Signika", sans-serif;
  box-sizing: border-box;
  color: #666;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 20px, 0)
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}
