@font-face {
    src: url('../font/Signika/static/Signika-Regular.ttf');
    font-family: "Signika";
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: "Signika", sans-serif;
    box-sizing: border-box;
}

.header_top {
    background: none repeat scroll 0 0 #F0F0E9;
}

.nav-pills {
    display: flex !important;
}

.nav-pills li {
    margin-right: 8px;
}

a {
    text-decoration: none !important;
}

.nav-pills li a:hover {
    color: #333333;
}

.contactinfo ul li:first-child {
    margin-left: -15px;
}

.contactinfo ul li a {
    font-size: 12px;
    color: #696763;
    font-family: 'Roboto', sans-serif;
}

.contactinfo ul li a:hover {
    background: inherit;
}

.social-icons ul li a {
    border: 0 none;
    border-radius: 0;
    color: #696763;
    padding: 0px;
}

.nav {
    display: inline-block;
}

.social-icons ul li {
    float: left;
    display: inline-block;
}

.social-icons ul li a i {
    padding: 11px 15px;
    transition: all 0.9s ease 0s;
    -moz-transition: all 0.9s ease 0s;
    -webkit-transition: all 0.9s ease 0s;
    -o-transition: all 0.9s ease 0s;
}

.social-icons ul li a i:hover {
    color: #fff;
    transition: all 0.9s ease 0s;
    -moz-transition: all 0.9s ease 0s;
    -webkit-transition: all 0.9s ease 0s;
    -o-transition: all 0.9s ease 0s;
}

.fa-facebook:hover {
    background: #0083C9;
}

.fa-twitter:hover {
    background: #5BBCEC;
}

.fa-linkedin:hover {
    background: #FF4518;
}

.fa-dribbble:hover {
    background: #90C9DC;
}

.fa-google-plus:hover {
    background: #CE3C2D;
}

/* Sreach button */

/* Nguồn w3 */

form.search input[type=text] {
    padding: 5px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.search button {
    float: left;
    width: 20%;
    padding: 5px;
    background: #cdcfd1;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    /* Prevent double borders */
    cursor: pointer;
}

form.search button:hover {
    background: #0b7dda;
}

form.search::after {
    content: "";
    clear: both;
    display: table;
}

/* midle header */

.header-middle .container .row {
    border-bottom: 1px solid #f5f5f5;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 20px;
    padding-top: 20px;
}

.header-middle .container .row .col-sm-4 {
    padding-left: 0;
}

.header-middle .container .row .col-sm-8 {
    padding-right: 0;
}

.usa {
    border-radius: 0;
    color: #B4B1AB;
    font-size: 12px;
    margin-right: 20px;
    padding: 2px 15px;
    margin-top: 10px;
}

.usa:hover {
    background: #FE980F;
    color: #fff;
    border-color: #FE980F;
}

.usa:active, .usa.active {
    background: none repeat scroll 0 0 #FE980F;
    box-shadow: inherit;
    outline: 0 none;
}

.btn-group.open .dropdown-toggle {
    background: rgba(0, 0, 0, 0);
    box-shadow: none;
}

.dropdown-menu li a:hover, .dropdown-menu li a:focus {
    background-color: #FE980F;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.shop-menu ul li {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

.shop-menu ul li:last-child {
    padding-right: 0;
}

.shop-menu ul li a {
    background: #FFFFFF;
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding: 0;
    padding-right: 0;
    margin-top: 10px;
}

.shop-menu ul li a i {
    margin-right: 3px;
}

.shop-menu ul li a:hover {
    color: #fe980f;
    background: #fff;
}

.header-bottom {
    padding-bottom: 30px;
    padding-top: 30px;
}

.navbar-collapse.collapse {
    padding-left: 0;
}

.mainmenu li {
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
}

.mainmenu ul li:first-child {
    padding-left: 0px;
}

.mainmenu ul li a {
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 300;
    padding: 0;
    padding-bottom: 10px;
}

.mainmenu ul li a:hover, .mainmenu ul li a.active, .shop-menu ul li a.active {
    background: none;
    color: #fdb45e;
}

.search_box input {
    background: #F0F0E9;
    border: medium none;
    color: #B2B2B2;
    font-family: 'roboto';
    font-size: 12px;
    font-weight: 300;
    height: 35px;
    outline: medium none;
    padding-left: 10px;
    width: 155px;
    background-image: url(../images/home/searchicon.png);
    background-repeat: no-repeat;
    background-position: 130px;
}

/*  Dropdown menu*/

.navbar-header .navbar-toggle .icon-bar {
    background-color: #fff;
}

.nav.navbar-nav>li:hover>ul.sub-menu {
    display: block;
    -webkit-animation: fadeInUp 400ms;
    -moz-animation: fadeInUp 400ms;
    -ms-animation: fadeInUp 400ms;
    -o-animation: fadeInUp 400ms;
    animation: fadeInUp 400ms;
}

ul.sub-menu {
    position: absolute;
    top: 30px;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    list-style: none;
    padding: 0;
    margin: 0;
    width: 220px;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 999;
}

.dropdown ul.sub-menu li .active {
    color: #FDB45E;
    padding-left: 0;
}

.navbar-nav li ul.sub-menu li {
    padding: 10px 20px 0;
}

.navbar-nav li ul.sub-menu li:last-child {
    padding-bottom: 20px;
}

.navbar-nav li ul.sub-menu li a {
    color: #fff;
}

.navbar-nav li ul.sub-menu li a:hover {
    color: #FDB45E;
}

.fa-angle-down {
    padding-left: 5px;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

body {
    margin: 0px;
    font: 14px / 21px Montserrat, sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

ul {
    display: inline;
}

.footer-area {
    background-color: rgb(218, 214, 214);
}

.footer-top {
    inline-size: 100%;
    padding-block-end: 50px;
    padding-block-start: 80px;
    perspective-origin: 545.2px 181.2px;
    text-align: left;
    text-decoration: none solid rgb(56, 56, 56);
    text-size-adjust: 100%;
    transform-origin: 545.2px 181.2px;
    width: 100%;
}

.container-footer {
    font: 14px / 21px Montserrat, sans-serif;
}

.row-footer {
    margin: 0 10px 0 10px;
    display: flex;
    margin: 0px -15px;
    font: 14px / 21px Montserrat, sans-serif;
}

.footer-info-wrapper {
    inline-size: 210px;
    color: rgb(56, 56, 56);
    text-align: left;
    text-decoration: none solid rgb(56, 56, 56);
    text-size-adjust: 100%;
    border: 0px none rgb(56, 56, 56);
}

.footer-widget {
    text-align: left;
    text-decoration: none solid rgb(56, 56, 56);
    text-size-adjust: 100%;
    transform-origin: 105px 101.2px;
    width: 210px;
}

.footer-logo {
    height: 33px;
    text-align: left;
    transform-origin: 105px 16.5px;
}

.social-icon {
    float: left;
    font: 14px / 21px Montserrat, sans-serif;
}

.social-icon li {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: -5px;
}

.footer-title {
    color: rgb(87, 87, 87);
    margin: 0px 0px 32px;
    perspective-origin: 80px 9.6px;
    inline-size: 160px;
    height: 19.2px;
    font: 500 16px / 19.2px Montserrat, sans-serif;
    transform-origin: 80px 9.6px;
}

.footer-content {
    font: 14px / 21px Montserrat, sans-serif;
    height: auto;
    text-align: left;
    text-decoration: none solid rgb(56, 56, 56);
}

.newsletter-wrapper {
    text-align: left;
    text-decoration: none solid rgb(56, 56, 56);
}

.newsletter-style {
    box-sizing: border-box;
    caret-color: rgb(56, 56, 56);
    color: rgb(56, 56, 56);
    column-rule-color: rgb(56, 56, 56);
    height: 45px;
    inline-size: 290px;
    margin-block-end: 38px;
    margin-block-start: 26px;
    perspective-origin: 145px 22.5px;
    text-align: left;
    text-decoration: none solid rgb(56, 56, 56);
    text-size-adjust: 100%;
    transform-origin: 145px 22.5px;
    width: 290px;
    border: 0px none rgb(56, 56, 56);
    font: 14px / 21px Montserrat, sans-serif;
    margin: 26px 0px 38px;
    outline: rgb(56, 56, 56) none 0px;
}

#mc_embed_signup {}

.subscribe-form {}

#mc-embedded-subscribe-form {}

#mc_embed_signup_scroll {}

.email {}

.mc-news {
    text-align: left;
    text-decoration: none solid rgb(56, 56, 56);
    top: 45px;
}

.clear {
    position: absolute;
    right: 4px;
    text-align: left;
    text-decoration: none solid rgb(56, 56, 56);
    text-size-adjust: 100%;
    transition: all 0.3s ease 0s;
    align-items: center;
}

.payment-img {
    margin-top: 30px;
    column-rule-color: rgb(56, 56, 56);
    perspective-origin: 145px 10.4px;
    text-align: left;
    text-decoration: none solid rgb(56, 56, 56);
    text-size-adjust: 100%;
    transform-origin: 145px 10.4px;
    border: 0px none rgb(56, 56, 56);
    font: 14px / 21px Montserrat, sans-serif;
}